Dockerfile
.dockerignore
.git
.gitignore
.next
node_modules
uploads
npm-debug.log*
README.md
docker-compose.yml
docker-compose.prod.yml
scripts/setup-admin.sh
.env
.env.*
!.env.example
**/*.md
.vscode
.idea
coverage
